<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portada</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <div class="container">
        <div class="title">Portada</div>
        <div class="info">Alumna: Paloma Staphania Graneros Cervantes</div>
        <div class="info">Número de control: 20230204</div>
        <div class="info">Carrera: TICS</div>
    </div>
</body>
</html>
